<div class="form">
    <p class="form_text">Please, type your password to make sure it's enough secure</p>
    <input type="password"
           class="form_password"
           [formControl]="inputForm"
    >
    <div class="form_indicator">
      <span
        [ngStyle]="{'background-color' : firstIndicator}"
        class="indicator"></span>
      <span
        [ngStyle]="{'background-color' : secondIndicator}"
        class="indicator"></span>
      <span
        [ngStyle]="{'background-color' : thirdIndicator}"
        class="indicator"></span>
    </div>
</div>


